body {
    font-family: 400 14px/20px var(--font-family-poppins);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header-logo-gracias {
    margin: auto;
    text-align: center;
    padding: 10px 0 10px 0;
}

.p-gracias {
    font-family: 400 14px/20px var(--font-family-poppins);
    margin: 100px 0px 0 20px;
    padding: 20px 0 0 0;
    color: var(--black);
}

.footer {
    position: fixed;
    bottom: 0;
}


